* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: 1px 1px 2px grey;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  padding-right: 50px;
  margin: 10px 0;
}

.list li.plus {
  border-left: 5px solid #2ecc71;
}

.list li.minus {
  border-left: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  border: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 4px 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

/* @media only screen and (min-width: 1092px){ */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
/* } */
